@charset "UTF-8";
/* локальне підключення двох шрифтів, які використовуються в даній секції */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("ttf");
}
@font-face {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/times-new-roman-bold.woff2") format("woff2"), url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.ttf") format("ttf");
}
body {
  background: #FFFDEE;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Глобальне скидання стилів по тегам*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol .link {
  text-decoration: none;
  color: currentColor;
}

li .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

.room-hero {
  position: relative;
}

.room-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 483px;
  z-index: 20;
}
@media screen and (min-width: 414px) {
  .room-container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .room-container {
    top: 468px;
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .room-container {
    top: 524px;
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.room-hero-title {
  margin-bottom: 14px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .room-hero-title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.13;
  }
}

.short-description {
  margin-bottom: 15px;
  width: 325px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .short-description {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.25;
    width: 400px;
  }
}

.room-contacts {
  display: none;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .room-contacts {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address {
  display: none;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 10px;
  }
}

.address-point {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  -ms-flex-item-align: center;
      align-self: center;
  fill: #F3C653;
}

.address-superscription {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #E5E5E5;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .tablet-social {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.social {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1023px) {
  .social {
    display: none;
  }
}

.social-item {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 24px;
  height: 24px;
}

.social-icon {
  fill: rgba(243, 198, 83, 0.7);
}

/*  Слайдер стилі */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.sbn-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
}

.swiper-button-next:hover .sbn-icon {
  fill: #F3C653;
}

.swiper-button-prev:hover .sbn-icon {
  fill: #F3C653;
}/*# sourceMappingURL=main.css.map */