
    $black-color: #000000;
    $bg-lemon-color: #FFFDEE;
    $white-color: #FFFFFF;
    $brown-color: #C79002;
    $accent-yellow-color: #F3C653;
    $gray-text-color: #7A7A7A;
    $address-color: #E5E5E5;
